.navbar-content {
  background-image: url(../../assets/bannerback.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}