.contact-section {
  margin-top: 100px;
  position: relative;
  .contact-head {
    position: relative;
    margin-bottom: 40px;
    > a {
      text-decoration: none;
      font-size: 22px;
      color: #6c63ff;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      letter-spacing: 0.5px;
      position: relative;
      line-height: 4;
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: #6b63ff63;
        left: 0;
        bottom: 0px;
      }
    }
    > h3 {
      font-size: 35px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      color: #1f2471;
      letter-spacing: 0.8px;
    }
  }
  .form-group {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
    .group-icon {
      width: 40px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #1f2471;
      position: absolute;
      left: 10px;
      z-index: 1;
      > i {
        font-size: 15px;
        color: #1f2471;
      }
    }
    .group-input {
      position: relative;
      display: flex;
      flex: 1 auto;
      > input {
        width: 100%;
        height: 50px;
        padding: 10px 20px 10px 65px;
        border: none;
        border-radius: 50px;
        text-transform: capitalize;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        box-shadow: 0 0 10px 4px rgba(31, 66, 135, 0.1%);
        letter-spacing: 0.4px;
        transition: all 0.3s ease-in-out;
        color: rgb(107, 107, 107);
        border: 1px solid transparent;
        &::placeholder {
          font-size: 14px;
        }
        &:focus {
          outline: 0;
          box-shadow: none;
          border-color: #896eff;
        }
      }
    }
  }
  .message-group{
    position: relative;
    >textarea{
      width: 100%;
      height: 120px;
      padding: 10px 20px 10px 65px;
      border: none;
      border-radius: 20px;
      text-transform: capitalize;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      box-shadow: 0 0 10px 4px rgba(31, 66, 135, 0.1%);
      letter-spacing: 0.4px;
      transition: all 0.3s ease-in-out;
      color: rgb(107, 107, 107);
      border: 1px solid transparent;
      resize: none;
 
    }
    .group-icon{
      width: 40px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #1f2471;
      position: absolute;
      left: 10px;
      top: 8px;
      z-index: 1;
      > i {
        font-size: 15px;
        color: #1f2471;
      }
    }
  }
  .sub-button{
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    >.submit-btn{
      text-decoration: none;
      height: 50px;
      font-size: 16px;
      color: #6c63ff;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      z-index: 1;
      display: flex;
      align-items: center;
      > i {
        color: white;
        position: relative;
        align-items: center;
        padding: 11px 15px;
        margin-right: 10px;
        &::after {
          width: 40px;
          height: 40px;
          background-color: #6c63ff;
          border-radius: 50%;
          margin-right: 10px;
          box-shadow: 0 15px 20px rgba(5, 16, 39, 0.1);
          position: absolute;
          content: "";
          left: 0;
          z-index: -1;
          top: 0;
        }
      }
    }
    }
  }
  .account-media {
    position: relative;
    min-width: 40vw;
    > img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
    @media screen and(max-width  : 500px) {
      display: none;
      
    }
  }
